    <div id="thank" class="d-none">
        <h3>感谢您的评价，我方每个月将在众多问券中随机抽取一位幸运的客户，给予点数 5000 点作为奖励。</h3>
        <h3>Thanks for your feedback, we will randomly select the lucky one to provide 5000 points(RMB) per month as the incentive.</h3>
        <button class="btn btn-success" id="l-close">关闭 (close)</button>
    </div>